<%= render 'pages/home' unless user_signed_in? %>

<div id="openings" class="transitions-enabled">
  <% @openings.each do |opening| %>
    <div class="box panel panel-default">
      <%= link_to project_opening_path(@project, opening) do %>
      <%= opening.number %>
      <% end %>
        
          <div class="actions">
            <%= link_to edit_project_opening_path(@project, opening) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to project_opening_path(@project, opening), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>