<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

    <%= f.fields_for :doors do |door_form| %>

      <%= door_form.hidden_field :project_id %>

      <div class="form-group">
        <%= door_form.label :name %>
        <%= door_form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= door_form.label :measure_from, "Measure From" %>
        <%= door_form.select :measure_from, [['Door', :door], ['Frame', :frame]] %>
      </div>

      <div class="form-group">
        <%= door_form.label :frame_material, "Frame Material" %>
        <%= door_form.select :frame_material, [['Aluminum', :aluminum], ['Hollow Metal', :"hollow metal"], ['Wood', :wood]] %>
      </div>

      <% end %>
<% end %>