<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
  <div id="projects" class="transitions-enabled">
    <% @projects.each do |project| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <%= link_to project.name, project %><br/>
          
            <div class="actions">
              <%= link_to edit_project_path(project) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
              <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            </div>
          
        </div>
      </div>
    <% end %>
  </div>
  <div class="center">
     <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>


<%= link_to 'New Project', new_project_path %>
