<%= render 'pages/home' unless user_signed_in? %>

<p><%= link_to 'Back', projects_path %><p>
<p><%= link_to 'Add Door', new_door_path %></p>



<div id="doors" class="transitions-enabled">
  <% @doors.each do |door| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(door.image.url(:medium)), door %>
      <div class="panel-body">
        <%= door.name %><br/>
        
          <div class="actions">
            <%= link_to edit_door_path(door) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to door, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        
      </div>
    </div>
  <% end %>
</div>

