<%= render 'pages/home' unless user_signed_in? %>

<p><%= link_to 'Back', projects_path %><p>
<p><%= link_to 'Add Door', new_project_door_path(@project, @door) %></p>



<div id="doors" class="transitions-enabled">
  <% @doors.each do |door| %>
    <div class="box panel panel-default">
      <%= link_to project_door_path(@project, door) do %>
      <%= door.name %>
      <% end %>
      <div class="panel-body">
        <div class="actions">
          <%= link_to edit_project_door_path(@project, door) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to project_door_path(@project, door), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        </div>
        
      </div>
    </div>
  <% end %>
</div>
