<%= form_for @door, html: { multipart: true } do |f| %>
  <% if @door.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@door.errors.count, "error") %> prohibited this door from being saved:</h2>

      <ul>
      <% @door.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="center">
    <div class="panel-heading center">
      <%= image_tag("defaultdoor.png", size: "450x450", :alt => "replacement door") %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :measure_from, "Measure From" %>
    <%= f.select :measure_from, [['Door', :door], ['Frame', :frame]] %>
  </div>

  <div class="form-group">
    <%= f.label :frame_material, "Frame Material" %>
    <%= f.select :frame_material, [['Aluminum', :aluminum], ['Hollow Metal', :"hollow metal"], ['Wood', :wood]] %>
  </div>

  <div class="form-group">
    <%= f.label :door_material %>
    <%= f.select :door_material, [['Aluminum', :aluminum], ['Hollow Metal', :"hollow metal"], ['Wood', :wood]] %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.select :location, [['Interior', :interior], ['Exterior', :exterior]] %>
  </div>

  <div class="form-group">
    <%= f.label :swing %>
    <%= f.select :swing, [['LH', :LH], ['LHR', :LHR], ['RH', :RH], ['RHR', :RHR], ['LHA', :LHA], ['LHRA', :LHRA], ['RHA', :RHA], ['RHRA', :RHRA]] %>
  </div>

  <div class="form-group">
    <%= f.label :fire_rating %>
    <%= f.select :fire_rating, [['None', :none], ['20 min', :"20 min"], ['45 min', :"45 min"], ['60 min', :"60 min"], ['90 min', :"90 min"], ['3 hr', :"3 hr"]] %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>


  
<% end %>