<%= form_for @door, html: { multipart: true } do |f| %>
  <% if @door.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@door.errors.count, "error") %> prohibited this door from being saved:</h2>

      <ul>
      <% @door.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Measurements_Taken_From %>
    <%= select_tag(:measurefrom_id, options_for_select([['Door', 1], ['Frame', 2]], 2)) %>
  </div>

  <div class="form-group">
    <%= f.label :frame_material %>
    <%= select_tag(:framematerial_id, options_for_select([['Aluminum', 1], ['Hollow Metal', 2], ['Wood', 3]], 2)) %>
  </div>

  <div class="form-group">
    <%= f.label :door_material %>
    <%= select_tag(:doormaterial_id, options_for_select([['Aluminum', 1], ['Hollow Metal', 2], ['Wood', 3]], 2)) %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= select_tag(:location_id, options_for_select([['Interior', 1], ['Exterior', 2]], 2)) %>
  </div>

  <div class="form-group">
    <%= f.label :swing %>
    <%= select_tag(:swing_id, options_for_select([['LH', 1], ['LHR', 2], ['RH', 3], ['RHR', 4], ['LHA', 5], ['LHRA', 6], ['RHA', 7], ['RHRA', 8]], 1)) %>
  </div>

  <div class="form-group">
    <%= f.label :fire_rating %>
    <%= select_tag(:firerating_id, options_for_select([['None', 1], ['20 min', 2], ['45 min', 3], ['60 min', 4], ['90 min', 5], ['3 hr', 6]], 1)) %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  
<% end %>