<%= link_to 'Back', doors_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @door.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @door.name %></p>
        <p><strong>Measure From:</strong>
        <%= @door.measure_from.capitalize %></p>
        <p><strong>Frame Material:</strong>
        <%= @door.frame_material.capitalize %></p>
        <p><strong>Door Material:</strong>
        <%= @door.door_material.capitalize %></p>
        <p><strong>Location:</strong>
        <%= @door.location.capitalize %></p>
        <p><strong>Swing:</strong>
        <%= @door.swing.upcase %></p>
        <p><strong>Fire Rating:</strong>
        <%= @door.fire_rating.capitalize %></p>
        
        <p><strong><%= @door.user.name if @door.user %></strong></p>

        <% if @door.user == current_user %>
		      <%= link_to edit_door_path(@door) do %>
		        <span class="glyphicon glyphicon-edit"></span>
		        Edit
		      <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>