<%= link_to 'Back', project_path(@project) %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @door.image.url(:medium) %>
      </div> 
        <div class="panel-body">
            <p><strong><%= @door.name %></strong></p>
        <ol>
            <p><strong>Measure From:</strong>
            <%= @door.measure_from.capitalize %></p>
            <p><strong>Frame Material:</strong>
            <%= @door.frame_material.capitalize %></p>



        
        <p><strong><%= @door.project.name if @door.project %></strong></p>

        
		      <%= link_to edit_project_door_path(@project, @door) do %>
		        <span class="glyphicon glyphicon-edit"></span>
		        Edit
		      <% end %>
   

      </div>
    </div>
  </div>
</div>

